
<h1><%= t('.title') %></h1>

<table>
  <thead>
  <tr>
    <th>Имя</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to t('common.show'),  category %></td>
        <td><%= link_to t('common.edit'), edit_admin_category_path(category) %></td>
        <td><%= link_to t('common.back'), [:admin, category], method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.newcategory'), new_admin_category_path %>