<h2> <%= @post.title %></h2>

<h5>
  <strong>Категории:</strong>
  <%= render @post.categories %>
</h5>

<% if @post.user.present? %>
    <h5>
    <strong>Автор:</strong>
    <%= @post.user.email %>
    </h5>
<% end %>

<p>
  <%= @post.body %>
</p>



<% unless @post.comments.empty? %>
    <strong><%= 'Комментарии ('+@post.comments.count.to_s+')'%></strong>
    <% @post.comments.each do |comment| %>
            <p><%= comment.body %></p>
        <% if comment.user.present? %>
            <p>
              <strong>Автор:</strong>
              <%= comment.user.email %>
            </p>
        <% end %>
        <% if user_signed_in? && (current_user.author_of?(comment) || current_user.admin?) %>
            <ul>
            <%= link_with_icon 'trash-o', comment, title: 'Удалить', method: :delete, data: {confirm: 'Точно удаляем?'} %>
            <%= link_with_icon :pencil, edit_comment_path(comment), title: t('common.edit') %>
            </ul>
        <% end %>
    <% end %>
    <strong>Новый комментарий:</strong>
<% else %>
    <strong>Комментариев нет. Оставьте комментарий первым.</strong>
    <br>
<% end %>

<%= render 'comments/form' %>

<% if user_signed_in? %>
    <% if current_user.author_of?(@post) || current_user.admin? %>
        <% if @post.published? %>
            <%= link_with_icon 'question-circle', hide_post_path(@post), title: t('.hide'), method: :patch %> |
            <% else %>
            <%= link_with_icon 'plus-circle', publish_post_path(@post), title: t('.publish'), method: :patch %> |
        <% end %>
        <%= link_with_icon :pencil, edit_post_path(@post), title: t('common.edit') %> |
        <%= link_with_icon 'trash-o', @post, title: t('common.delete'), method: :delete, data: {confirm: 'Точно удаляем?'} %> |
    <% end %>
    <td>
      <% if current_user.subscribed_to?(@post) %>
          <%= link_with_icon 'eye-slash', current_user.subscription_for(@post), title: t('.unsubscribe'), method: :delete %> |
      <% else %>
          <%= link_with_icon :eye, post_subscriptions_path(@post), title: t('.subscribe'), method: :post %> |
      <% end %>
    </td>
<% end %>
<%= link_with_icon :home, posts_path, title: t('common.root') %>
